<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | LuxLodge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href ="/">
            <img src="{{ url_for('static', filename='luxlodgelogo.png') }}" alt="LuxLodge Logo" class="luxlodgelogo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="/my-reservations">My Reservations</a></li>
            <li><a href="/logout" class="logout-link">Logout</a></li> <!-- ADD THIS -->
        </ul>
        
    </nav>

    <section class="hero">
        <div class="hero-content">
            <h1>OOP Course Work</h1>
            <p>Discover the perfect balance of luxury, comfort, and value at LuxStay Hotel. Book your stay today.</p>
            <div class="hero-buttons">
                <a href="/rooms" class="btn primary">Browse Rooms</a>
                <a href="/my-reservations" class="btn secondary">View Reservations</a>
            </div>
        </div>
    </section>

</body>
</html>
